@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Tarot';
  src: url('./assets/fonts/CormorantSC-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tarot';
  src: url('./assets/fonts/CormorantSC-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Tarot', serif;
}